@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    /* Colors */
    --bg-main: #ffffff;                  /* main page background */
    --bg-sidebar: #e0e0e0;               /* greyish sidebar */
    --bg-navbar: #388e3c;                /* greenish navbar */
    --border-color: #ccc;
    --text-primary: #212529;
    --text-secondary: #333333;
    --brand-primary: #388e3c;
    /*--brand-primary-light: #e6f2ff;*/
    --brand-primary-light: #3cb371;

    /* Sizing */
    --sidebar-width: 240px;
    --sidebar-collapsed-width: 60px;
    --navbar-height: 65px;
    --transition-speed: 0.3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-primary);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;
}
